<form class="external-form" data-external-form>
    <h5>Example of how to call the plugin from outside</h5>
    <button name="subject" value="jQuery">See all jQuery books</button>
</form>
<script>
    (function(){
        var form = document.querySelector('[data-external-form]');
        form.addEventListener('submit', function(event){
            event.preventDefault();
            var value = document.activeElement.value;
            filter.navigate({subject: value, inpublisher: null});
        });
    }());
</script>