<div class="external-message" style="display: none" data-external-message>
    This demo displays data from
    <a href="{{jsonUrl}}" style="color: inherit">a static json file</a>.
    <br />
    A server-side api must be used in order for the filtering to work.
</div>