<div class="external-message" style="display: none" data-external-message>
    This demo displays data from the
    <a href="https://developers.google.com/books/" target="_blank" style="color: inherit">Google Books API</a>.
    <br />
    The initial product-list is rendered server-side using data from <a href="{{jsonUrl}}" style="color: inherit">a static json file</a>.
</div>