<!doctype html>
<html>
<head>
    {{> head}}
</head>
<body>
{{> github-badge}}
{{> external-message}}
<div data-filter class="filter filter--enable-animations">
    <script data-filter-template type="text/x-handlebars-template">
        {{{template}}}
    </script>
</div>
{{> external-form}}
{{> demo-js}}
</body>
</html>